REGISTER PAGE
<br>
{{ form_start(form) }}

    {{ form_row(form.first_name, {'attr': {'class': 'form-control'}}) }} <br>
    
    {{ form_row(form.last_name, {'attr': {'class': 'form-control'}}) }} <br>
    
    {{ form_row(form.password, {'attr': {'class': 'form-control', 'placeholder':'Password'}}) }} <br>

    {{ form_row(form.confirm, {'attr': {'class': 'form-control', 'placeholder':'Confirm Password'}}) }} <br>
 
    {{ form_row(form.email) }}
    
    {{ form_row(form.save) }}
    
{{ form_end(form) }}
    <br>